<%include header %>
    <%include topNav %>

  <div class="boxed">

    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

      <!--Page Title-->
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <div id="page-title">
        <h1 class="page-header text-overflow"><%= title%></h1>
      </div>
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <!--End page title-->

      <!--Page content-->
      <!--===================================================-->
      <div id="page-content">
           <h3 class="text-thin"></h3>
           <div class="row">
               <div id="allnotifications">
                 <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                   <div class="notification">
                     <p>Heba Bahaa Eldin Amer<button class="btn btn-sm btn-primary pull-right">join</button</p>
                   </div>
                   <div class="notification">
                     <p>Heba Bahaa Eldin Amer</p>
                   </div>
                 </div>
              </div>
           </div>
      </div>
      <!--===================================================-->
      <!--End page content-->


    </div>
    <!--===================================================-->
    <!--END CONTENT CONTAINER-->


    <%include nav%>
  </div>



      <!-- FOOTER -->
      <!--===================================================-->
      <footer id="footer">
          <p class="pad-lft">&#0169; 2017 Yala Otlob</p>
      </footer>
      <!--===================================================-->
      <!-- END FOOTER -->


      <!-- SCROLL TOP BUTTON -->
      <!--===================================================-->
      <button id="scroll-top" class="btn"><i class="fa fa-chevron-up"></i></button>
      <!--===================================================-->

<%include footer%>
