<%include header %>
    <%include topNav %>

  <div class="boxed">

    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

      <!--Page Title-->
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <div id="page-title">
        <h1 class="page-header text-overflow"><%= title%></h1>
        <button class="btn btn-primary btn-labeled fa fa-plus-square" data-toggle="modal" data-target="#addGroup" >Add Group</button>
      </div>
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <!--End page title-->

      <!--Page content-->
      <!--===================================================-->
      <div id="page-content">
           <h3 class="text-thin"></h3>
           <div class="row">
               <div id="groups">
                 <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                   <div class="grp">
                     <a href="" data-toggle="modal" data-target="#friendslist"><h3 class="text-info"><u>Open Source</u></h3></a>
                     <button class="btn btn-danger" data-toggle="modal" data-target="#removeGroup">Remove</button>
                   </div>
                 </div>
              </div>

           </div>
           <div class="text-center" style="margin-top: 30px;">
             <ul class="pagination mar-no">
               <li class="disabled"><a class="fa fa-angle-double-left" href="#"></a></li>
               <li class="active"><a href="#">1</a></li>
               <li><a class="fa fa-angle-double-right" href="#"></a></li>
             </ul>
           </div>
      </div>
      <!--===================================================-->
      <!--End page content-->


    </div>
    <!--===================================================-->
    <!--END CONTENT CONTAINER-->

    <!-- List all group members Modal -->
    <div id="friendslist" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><button class="btn btn-primary btn-labeled fa fa-plus-square" data-toggle="modal" data-target="#addFriend">Add New Friend</button></h4>
          </div>
          <div class="modal-body">
            <div id="frnds">
              <div class="row">
                <div class="col-md-12">
                <div class="carousel slide multi-item-carousel" id="theCarousel">
                  <div class="carousel-inner">

                    <div class="item active text-center">
                      <div class="col-xs-4">
                        <a href="#1">
                          <img src="img/av1.png" class="img-responsive">
                        </a>
                        <h4>Heba</h4>
                        <button class="btn btn-danger">Remove</button>
                      </div>
                    </div>
                    <div class="item text-center">
                      <div class="col-xs-4">
                        <a href="#1">
                          <img src="img/av2.png" class="img-responsive">
                        </a>
                        <h4>Heba</h4>
                        <button class="btn btn-danger">Remove</button>
                      </div>
                    </div>

                    <div class="item text-center">
                      <div class="col-xs-4">
                        <a href="#1">
                          <img src="img/av3.png" class="img-responsive">
                        </a>
                        <h4>Heba</h4>
                        <button class="btn btn-danger">Remove</button>
                      </div>
                    </div>
                    <!-- add  more items here -->
                    <!-- Example item start:  -->
                    <!--  Example item end -->
                  </div>
                  <a class="left carousel-control" href="#theCarousel" data-slide="prev"> <i class="fa fa-angle-left" style="position:absolute;font-size:40px;top:25%;color:blue;left:00px; float:left">
                  </i></a>
                  <a class="right carousel-control" href="#theCarousel" data-slide="next"> <i class="fa fa-angle-right" style="position:absolute;font-size:40px;top:25%;color:blue;left:65px; float:right">
                  </i></a>
                </div>
              </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
    <!-- end List all group members Modal -->

    <!-- start add group Modal -->
    <div id="addGroup" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add New Group</h4>
          </div>
          <div class="modal-body">
            <form action="" method="post">
               <div class="form-group">
                 <label for="name">Group Name:</label>
                 <input type="text" class="form-control" id="name" required>
               </div>
               <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
    <!-- end add group Modal -->

    <!-- start add friend to group Modal -->
    <div id="addFriend" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add Friend To <i>Open Source Group</i></h4>
          </div>
          <div class="modal-body">
            <form action="" method="post">
               <div class="form-group">
                 <label for="name">Friend Name:</label>
                 <input type="text" class="form-control" id="frndname" required>
               </div>
               <button type="submit" class="btn btn-success">Add</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
    <!-- end add friend to group Modal -->

    <!-- start remove group Modal -->
    <div id="removeGroup" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Delete Group</h4>
          </div>
          <div class="modal-body">
            <h4>Are you want to delete <span class="text-info">Open Source</span> ?</h4>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info" id="1" data-dismiss="modal">delete</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
    <!-- end remove group Modal -->

    <%include nav%>
  </div>



      <!-- FOOTER -->
      <!--===================================================-->
      <footer id="footer">
          <p class="pad-lft">&#0169; 2017 Yala Otlob</p>
      </footer>
      <!--===================================================-->
      <!-- END FOOTER -->


      <!-- SCROLL TOP BUTTON -->
      <!--===================================================-->
      <button id="scroll-top" class="btn"><i class="fa fa-chevron-up"></i></button>
      <!--===================================================-->
<%include footer%>
