<%include header %>
    <%include topNav %>

  <div class="boxed">

    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

      <!--Page Title-->
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <div id="page-title">
        <h1 class="page-header text-overflow" ><%= title%></h1>
      </div>
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <!--End page title-->

      <!--Page content-->
      <!--===================================================-->
      <div id="page-content">
           <h3 class="text-thin">Latest Orders</h3>
           <div class="row">
               <div id="latestOrders">
                 <!---- start latestorder ---->
                 <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                   <div class="latestOrder">
                     <h3><a href="/order_details/id" class="text-pink" style="text-decoration: underline">Launch</a></h3>
                     <p>on</p>
                     <h4>13/1/2013</h4>
                   </div>
                 </div>
                 <!---- end latestorder ---->
              </div>
           </div>
           <hr>
           <h3 class="text-thin">Friends Activity</h3>
           <div class="row">
               <div id="latestOrders">
                 <!---- start friend activity ---->
                 <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                   <div class="activity">
                     <a href="" data-toggle="modal" data-target="#profile"><img src="img/av1.png"></a>
                     <h4><a href="" data-toggle="modal" data-target="#profile">Ahmad</a></h4>
                     <h5>has created an order for launch from mac</h5>
                   </div>
                 </div>
                 <!---- end friend activity ---->
              </div>
           </div>
      </div>
      <!--===================================================-->
      <!--End page content-->


    </div>
    <!--===================================================-->
    <!--END CONTENT CONTAINER-->

    <!-- start profile Modal -->
    <div id="profile" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal Header</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-xs-4 col-xs-offset-2">
                <img src="img/av1.png">
              </div>
              <div class="col-xs-6">
                <h4>Ahmed Essam</h4>
                <h4>ahmedessam@yahoo.com</h4>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
    <!-- end profile modal -->



    <%include nav%>
  </div>



      <!-- FOOTER -->
      <!--===================================================-->
      <footer id="footer">
          <p class="pad-lft">&#0169; 2017 Otlob</p>
      </footer>
      <!--===================================================-->
      <!-- END FOOTER -->


      <!-- SCROLL TOP BUTTON -->
      <!--===================================================-->
      <button id="scroll-top" class="btn"><i class="fa fa-chevron-up"></i></button>
      <!--===================================================-->

<%include footer%>
