<%include header %>
    <div class="horizontal-spacer" style="height:12vh;">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2 ">
                <img class="img-responsive" style="float:left" src="https://media.licdn.com/mpr/mpr/p/3/005/09a/23a/1bcbd71.png">
            </div>
        </div>
    </div>

    <div class="horizontal-spacer" style="height:5vh;">
    </div>
    <div class="container">
        <div class="row">
            <div class=" col-lg-6 col-lg-offset-3">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-2 loginLable" for="email">Email:</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email" placeholder="Enter email" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2 loginLable" for="pwd">Password:</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="pwd" placeholder="Enter password" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button id="logbtsubmit" type="submit" class="btn btn-lg btn-primary pull-right">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xs-6 col-xs-offset-3">
                <div style="text-align:center;margin:0 auto;font-size:1.6em; ">
                    <a style="color:blue" href="#">New User? Click to Register.</a><br>
                    <a style="color:blue" href="#">Forget Your Password? Click to Retreive.</a>
                </div>
            </div>
            
            <div class="col-md-4 col-md-offset-4 col-xs-12">
               <hr>
                <a href="#"><img class="img-responsive" style="margin:0 auto;border-radius:5px;" src="img/facebook-login.png" width="602" height="102" ></a>
                <a href="#"><img class="img-responsive" style="margin:0 auto;border-radius:5px;" src="img/XzoRm.png" width="602" height="102" ></a>
            </div>
        </div>
    </div>
    <div class="horizontal-spacer" style="height:5xvh;">
    </div>

    <%include footer %>