<%include header %>
    <div class="horizontal-spacer" style="height:12vh;">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-5 col-xs-8 col-xs-offset-2 ">
                <img class="img-responsive" style="float:left" src="img/pauzahr_h_5e.gif" width="200">
            </div>
        </div>
    </div>

    <div class="horizontal-spacer" style="height:5vh;">
    </div>
    <div class="container">
        <div class="row">
            <div class=" col-lg-6 col-lg-offset-3">
                <form class="form-horizontal" action="/login" method="post">
                    <div class="form-group">
                        <label style="font-size:15px" class="control-label col-sm-2 loginLable" for="email">Email:</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required >
                        </div>
                    </div>
                    <div class="form-group">
                        <label style="font-size:15px" class="control-label col-sm-2 loginLable" for="pwd">Password:</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" required >
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button id="logbtsubmit" type="submit" class="btn btn-lg btn-primary pull-right">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-3">
                <div class="col-lg-4 col-xs-12 col-lg-offset-3">
                    <a href="/signup">
                        <p style="color:blue;padding:0px;text-align:center;font-size:18px;float:left;border-right:2px solid grey;padding-right:10px;">Register</p>
                    </a>

                    <a href="/forget">
                        <p style="color:blue;padding:0px;text-align:center;font-size:18px">Reset Password</p>
                    </a>
                </div>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12">
                <hr>
                <div class="col-lg-4 col-xs-12 col-lg-offset-2">
                    <a href="/auth/facebook">
                        <p style="color:white;background-color:#3b5998;padding:20px;text-align:center;font-size:18px">Login With Facebook</p>
                    </a>
                </div>
                <div class="col-lg-4 col-xs-12">
                    <a href="/auth/google">
                        <p style="color:white;background-color:#dd4b39;padding:20px;text-align:center;font-size:18px">Login With Google</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="horizontal-spacer" style="height:5xvh;">
    </div>

        <%include footer %>
