<html style="overflow: hidden;background-image: url('https://static.pexels.com/photos/5317/food-salad-restaurant-person.jpg');background-size: cover;">
  <head>
    <style type="text/css">
      label,h3{
        color:white;
        font-size: 32px: 
      }
    </style>
  </head>
  <body>
  <div style="position: absolute;overflow: hidden;height:100vh;overflow:hidden;background-color:rgba(0,0,0,0.3);width:100%;margin-top: -8vh;margin-left: -10px"></div>
  <div id="container" class="cls-container">

    <!-- BACKGROUND IMAGE -->
    <!--===================================================-->
            <!-- <img src="https://static.pexels.com/photos/5317/food-salad-restaurant-person.jpg" style="width:1400px; height:650px"> -->



    <!-- LOGIN FORM -->
    <!--===================================================-->
    <div class="cls-content regist" style="width: 500px;height: 400px;margin: 50px auto;">
      <div class="cls-content-lg panel">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title text-uppercase">Reset password</h3>
                    </div>
                      <!--Horizontal Form-->
                      <!--===================================================-->
                      <form class="form-horizontal" action="" method="post">
                          <div class="panel-body">
                            <div class="form-group">
                                  <label class="col-sm-3 control-label">New Password</label>
                                  <div class="col-sm-9">
                                      <input type="password" placeholder="Password" class="form-control input-lg" name="password">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="col-sm-3 control-label">Confirm Password</label>
                                  <div class="col-sm-9">
                                      <input type="password" placeholder="Confirm Password" class="form-control input-lg" name="conpassword">
                                  </div>
                              </div>
                          </div>
                          <div class="panel-footer text-center">
                              <button class="btn btn-primary btn-lg" type="submit"><i class="fa fa-sign-in"></i>&nbsp;change</button>
                          </div>
                      </form>
                      <!--===================================================-->
                      <!--End Horizontal Form-->

                  </div>

  			</div>
  		</div>
  		<!--===================================================-->

    </div>

  	</div>
  	<!--===================================================-->
  	<!-- END OF CONTAINER -->
    <script>

    </script>
  </body>
</html>
