<%include header %>
	<div id="container" class="cls-container">

		<!-- BACKGROUND IMAGE -->
		<!--===================================================-->
		<div id="bg-overlay" class="bg-img">
      <div id="demo-carousel" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner text-center">

          <!--Item 1-->
          <div class="item">
            <img src="img/1.jpg" style="width:1400px; height:650px">
          </div>

          <!--Item 2-->
          <div class="item">
            <img src="img/2.jpg" style="width:1400px; height:650px">
          </div>

          <!--Item 3-->
          <div class="item active">
            <img src="img/3.jpg" style="width:1400px; height:650px">
          </div>
        </div>

      </div>
    </div>

		<!-- LOGIN FORM -->
		<!--===================================================-->
		<div class="cls-content regist">
			<div class="cls-content-lg panel">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title text-uppercase">Registration</h3>
                    </div>

                    <!--Horizontal Form-->
                    <!--===================================================-->
                    <form class="form-horizontal" action="/home">
                        <div class="panel-body">
                          <div class="form-group">
                              <label class="col-sm-3 control-label">Name</label>
                              <div class="col-sm-9">
                                  <input type="text" placeholder="Name"class="form-control input-lg">
                              </div>
                          </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Email</label>
                                <div class="col-sm-9">
                                    <input type="email" placeholder="Email"class="form-control input-lg">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Password</label>
                                <div class="col-sm-9">
                                    <input type="password" placeholder="Password" class="form-control input-lg">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Confirm Password</label>
                                <div class="col-sm-9">
                                    <input type="password" placeholder="Confirm Password" class="form-control input-lg">
                                </div>
                            </div>
                            <div class="form-group">
          										<label class="col-md-3 control-label">Upload Image</label>
          										<div class="col-md-9">
          											<span class="pull-left btn btn-default btn-file">
          											Browse... <input type="file">
          											</span>
          										</div>
          									</div>
                        </div>
                        <div class="panel-footer text-center">
                            <button class="btn btn-primary btn-lg" type="submit"><i class="fa fa-sign-in"></i>&nbsp;Sign up</button>
                        </div>
                    </form>
                    <!--===================================================-->
                    <!--End Horizontal Form-->

                </div>

			</div>
		</div>
		<!--===================================================-->



	</div>
	<!--===================================================-->
	<!-- END OF CONTAINER -->

<%include footer %>
