<%include header %>
    <%include topNav %>

  <div class="boxed">

    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">


      <!--Page content-->
      <!--===================================================-->
      <div id="page-content">
        <div id="demo-carousel" class="carousel slide" data-ride="carousel">

                <!--Indicators-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <ol class="carousel-indicators dark out">
                  <li class="" data-slide-to="0" data-target="#demo-carousel"></li>
                  <li data-slide-to="1" data-target="#demo-carousel" class=""></li>
                  <li class="active" data-slide-to="2" data-target="#demo-carousel"></li>
                </ol>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

                <div class="carousel-inner text-center">

                  <!--Item 1-->
                  <div class="item">
                    <h3>First slide label</h3>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                  </div>

                  <!--Item 2-->
                  <div class="item">
                    <h3>Second slide label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div>

                  <!--Item 3-->
                  <div class="item active">
                    <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                  </div>
                </div>

                <!--carousel-control-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <a class="carousel-control left" data-slide="prev" href="#demo-carousel"><i class="fa fa-chevron-left fa-2x"></i></a>
                <a class="carousel-control right" data-slide="next" href="#demo-carousel"><i class="fa fa-chevron-right fa-2x"></i></a>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

              </div>
      </div>
      <!--===================================================-->
      <!--End page content-->


    </div>
    <!--===================================================-->
    <!--END CONTENT CONTAINER-->


    <%include nav%>
  </div>



      <!-- FOOTER -->
      <!--===================================================-->
      <footer id="footer">
          <p class="pad-lft">&#0169; 2017 Yala Otlob</p>
      </footer>
      <!--===================================================-->
      <!-- END FOOTER -->


      <!-- SCROLL TOP BUTTON -->
      <!--===================================================-->
      <button id="scroll-top" class="btn"><i class="fa fa-chevron-up"></i></button>
      <!--===================================================-->
<%include footer%>
