  <!--NAVBAR-->
  <!--===================================================-->
  <header id="navbar">
    <div id="navbar-container" class="boxed">

      <!--Brand logo & name-->
      <!--==================
      <div class="navbar-header">
        <a href="index.html" class="navbar-brand">
          <img src="img/logo.png" alt="Nifty Logo" class="brand-icon">
          <div class="brand-title">
            <span class="brand-text">Nifty</span>
          </div>
        </a>
      </div>
    ============================-->
      <!--End brand logo & name-->


      <!--Navbar Dropdown-->
      <!--================================-->
      <div class="navbar-content clearfix">
        <ul class="nav navbar-top-links pull-left" style="margin-left:-55px">

          <!--Navigation toogle button-->
          <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
          <li class="tgl-menu-btn">
            <a class="mainnav-toggle" href="#">
              <i class="fa fa-navicon fa-lg"></i>
            </a>
          </li>
          <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
          <!--End Navigation toogle button-->


          <!--Notification dropdown-->
          <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
          <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
              <i class="fa fa-bell fa-lg"></i>
              <span class="badge badge-header badge-danger">1</span>
            </a>

            <!--Notification dropdown menu-->
            <div class="dropdown-menu dropdown-menu-md with-arrow">

              <div class="nano scrollable" style="max-height:300px">
                <div class="nano-content">
                 <span style="padding:5px;margin:5px;">
                        <div class="clearfix">
                          <p style="padding-left:5px;" >My Notifications</p>
                        </div>
                      </span>
                  <ul class="head-list">

                    <!-- Notification list-->
                    <div id="Notifications">
                        <li>
                            <a>
                                <span>
                                <span style="background-color:lightGreen;padding:2px 10px;">Islam</span>
                                Have Joined your
                                <span style="background-color:cyan;padding:2px 10px;">Order</span></span>
                            </a>
                        </li>

                    </div>

                  </ul>
                </div>
              </div>

            </div>
          </li>
          <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
          <!--End notifications dropdown-->


        </ul>
        <ul class="nav navbar-top-links pull-right">

          <!--User dropdown-->
          <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
          <li id="dropdown-user" class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle text-right">
              <span class="pull-left">
                <img class="img-circle img-user media-object" src="img/av1.png" alt="Profile Picture">
              </span>
              <div class="username hidden-xs">John Doe</div>
            </a>


            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right with-arrow panel-default">


              <!-- Dropdown footer -->
              <div class="pad-all text-right">
                <a href="pages-login.html" class="btn btn-primary">
                  <i class="fa fa-sign-out fa-fw"></i> Logout
                </a>
              </div>
            </div>
          </li>
          <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
          <!--End user dropdown-->

        </ul>
      </div>
      <!--================================-->
      <!--End Navbar Dropdown-->

    </div>
  </header>
  <!--===================================================-->
  <!--END NAVBAR-->
